733 B
{% extends "prefixctl/v2/tool/prefix_sets/list.html" %}
{% load i18n fullctl_util %}
{% block "prefix-set-addon-template" %}
{{ block.super }}
<div class="row property" data-template="monlist_bgp_monitor">
  <div class="col field">
    {% trans "BGP Monitor" %}: <span class="highlight" data-field="status"></span>
  </div>
  <div class="col field">
    <a class="button" data-action="view_report">
      <div class="row">
        <div class="col-auto pe-0">
          <span class="icon prefixctl icon-report"></span>
        </div>
        <div class="col ps-0">
          <span class="label prefixctl btn-announcements">{% trans "Report" %}</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col field">
    {% trans "Notification email" %}: <span class="highlight" data-field="email"></span>
  </div>
  <div class="col-1 field-empty right">
     <a data-action="edit_prefix_monitor"><span class="icon prefixctl icon-edit"></span></a>
     <a data-api-action="delete_monitor"
        data-api-callback="remove"
        data-confirm="Remove monitor?"
        data-api-method="DELETE"><span class="icon prefixctl icon-delete"></span></a>
  </div>
</div>
{% endblock %}